@font-face {
  font-family: Simsowo;
  src: url('font/Loucos Lyne - thesimssansbold.otf');
}

@font-face {
  font-family: Simsowo2;
  src: url('font/Loucos Lyne - thesimssansboldsc.otf');
}

html,
body {
  height: 100%;

  background: linear-gradient(#ebeffc, #c1d3e9 25%);

  overflow: hidden;
}

.Content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;
}

.fill {
  overflow: hidden;
}

.ImageSwitcher {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.ImageContent {
  flex: 1 1 auto;
}

.Image {
  width: 100%;
}

.PreviousImageButton {
  flex: 1 1 auto;
  height: 10%;
}

.NextImageButton {
  flex: 1 3 auto;
  height: 10%;
}

input.ImageTitle {
  font-family: Simsowo2;

  max-width: 100%;
  min-width: 70%;

  text-align: center;
  font-size: 575%;

  color: #1452ae;
  background-color: #f0f7fb;
  border: none;
  background: unset;
  outline: unset;
}

.ImageDescriptionBox {
  flex: 1 1 auto;
  display: flex;
  margin-top: 8px;
  margin-bottom: 16px;

  width: 92%;

  height: 26%;
  background-color: #f0f7fb;

  align-items: center;

  overflow: auto;
}

.ImageDescriptionContent {
  font-family: Simsowo;
  color: #1452ae;

  margin: 0 auto;
  background-color: #f0f7fb;

  max-width: 100%;
  max-height: 100%;

  text-align: center;
  outline: unset;
}

textarea.ImageDescription {
  font-family: Simsowo;
  font-size: Simsowo;
  font-style: Simsowo;
  font-weight: Simsowo;
  width: 100%;

  text-align: center;

  background-color: transparent;
  color: #1452ae;
  outline: none;
  border: none;
}
