@font-face {
  font-family: Simsowo;
  src: url('font/Loucos Lyne - thesimssansbold.otf');
}

@font-face {
  font-family: Simsowo2;
  src: url('font/Loucos Lyne - thesimssansboldsc.otf');
}

html,
body {
  height: 100%;

  background: linear-gradient(#ebeffc, #c1d3e9 25%);

  overflow: hidden;
}

.Content {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

input.ImageTitle {
  font-family: Simsowo2;

  max-width: 100%;
  min-width: 70%;
  max-height: 8%;
  min-height: 8%;

  text-align: center;
  font-size: min(10vh, 10vw);

  color: #1452ae;
  background-color: #f0f7fb;
  border: none;
  background: unset;
  outline: unset;
}

.Image {
  display: block;
  width: auto;
  height: 100%;
}

.ImageSwitcher {
  height: fit-content;
  min-height: 8%;
  max-height: 66%;
  max-width: 80%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

button.PreviousImageButton {
  min-width: 10%;
  max-width: 10%;

  background: transparent;
  border: unset;
}

.NextImageButton {
  min-width: 10%;
  max-width: 10%;

  background: transparent;
  border: unset;
}

.ImageDescriptionBox {
  display: flex;
  margin-top: 8px;

  width: 92%;
  height: 26%;
  min-height: 26%;
  max-height: 26%;

  background-color: #f0f7fb;

  padding: 0.6rem;
}

.ImageDescriptionText {
  font-family: Simsowo;
  color: #1452ae;
  background-color: #f0f7fb;

  min-width: 5%;
  min-height: 5%;
  max-width: 100%;
  max-height: 100%;
  padding: 0.3rem;

  font-size: min(2.75vh, 2.75vw);

  outline: unset;
}

.ScrollbarBox {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  overflow-y: auto;
  padding-right: 0.2rem;

  align-items: center;
  justify-content: center;
  text-align: center;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
  background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background: #eff3f7;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: #eff3f7;
}
