@font-face {
  font-family: Simsowo;
  src: url('/assets/fonts/Loucos Lyne - thesimssansbold.otf');
}

@font-face {
  font-family: Simsowo2;
  src: url('/assets/fonts/Loucos Lyne - thesimssansboldsc.otf');
}

.album-title-content p {
  margin: 0;
}

.root {
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(#ebeffc, #c1d3e9 25%);
  margin: 0;
}

.album-container {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.album-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  /* min-width: 80vw; */
  max-width: 100vw;
}

.album-title-container {
  max-width: 100%;
  min-width: 70%;
  max-height: 10vh;
}

.album-title-content {
  font-family: Simsowo2;

  text-align: center;
  font-size: min(6.5vh, 6.5vw);

  color: #1452ae;
  background-color: #f0f7fb;
  border: none;
  background: unset;
  outline: unset;
}

.album-content .album-images-controller {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  max-height: 24%;
  min-height: 24%;
}

.album-content .album-images-controller button.previous-album-image-button {
  background: transparent;
  border: unset;
}

.album-content .album-images-controller button.next-album-image-button {
  background: transparent;
  border: unset;
}

.album-image {
  max-height: 65vh;
  max-width: 65vw;
}

.button-image {
  min-width: 32px;
  min-height: 32px;
  max-width: min(50vw, 128px);
  max-height: min(50vh, 128px);
}

.album-image-description-container {
  display: flex;
  align-self: center;

  background-color: #f0f7fb;

  min-height: 25vh;
  max-height: 25vh;
  width: 92%;
  max-width: 92%;
  min-width: 92%;

  /* margin-top: 8px; */
  /* padding: 0.6rem; */
}

.album-image-description-content {
  font-family: Simsowo;
  color: #1452ae;
  background-color: #f0f7fb;

  /* padding: 0.3rem; */

  font-size: min(2.75vh, 2.75vw);
  min-height: 90%;

  outline: unset;
}

.album-image-description-content p {
  margin: 8px;
}

.album-image-description-scrollbar {
  min-width: 100%;
  min-height: 100%;
  overflow-y: auto;
  padding-right: 0.2rem;

  align-items: center;
  justify-content: center;
  text-align: center;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
  background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background: #eff3f7;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-height: 60px;
}

::-webkit-scrollbar-corner {
  background: #eff3f7;
}
